<div class="right_board" id='right_nav_bar'>  
  <div class='title'><%= title %></div>
</div>


<div class="right_board" id ='pattern_designer_container'>
	<div class='left-panel col-sm-10' >
    <div>
      <label class="mission-label col-sm-6 control-label">Mission</label>
      <label class="mission-label col-sm-6 control-label">Pattern</label>
    </div>
    <div style="margin-left: 16%;">
      <select multiple="multiple" id="my-select" name="my-select[]">
        <option value='elem_1' disabled>0 pallet</option>
        <option value='mission_2'>mission 2</option>
        <option value='mission_3'>mission 3</option>
        <option value='mission_4'>mission 4</option>
        <option value='mission_5'>mission 5</option>
        <option value='mission_6'>mission 6</option>
        <option value='mission_7'>mission 7</option>
        <option value='mission_8'>mission 8</option>
        <option value='mission_9'>mission 9</option>
        <option value='mission_10'>mission 10</option>
        <option value='mission_11'>mission 11</option>
        <option value='mission_12'>mission 12</option>
        <option value='mission_13'>mission 13</option>   
        <option value='mission_14'>mission 14</option> 
        <option value='mission_15_1'>mission 15</option>     
      </select>  
    </div>

    <div class='bottom-panel' style="margin-top: 3%">
        <div class="mission-bottom input-group col-sm-6" style="float: left; ">
            <span class="input-group-addon label-info colomn-label-info">Total height</span>
            <input type="text" class="form-control" >
        </div>
        <div class="mission-bottom input-group col-sm-6" style="float: right; margin-right: -15%">
            <span class="input-group-addon label-info colomn-label-info">Total box</span>
            <input type="text" class="form-control" >
        </div>
        <div class="mission-bottom input-group col-sm-6" style="float: left;">
            <span class="input-group-addon label-info colomn-label-info">Total weight</span>
            <input type="text" class="form-control" >
        </div>
        <div class="mission-bottom input-group col-sm-6" style="float: right; margin-right: -15%">
            <span class="input-group-addon label-info colomn-label-info">Block Dim</span>
            <input type="text" class="form-control" >
        </div>         
    </div>
  </div>

</div>


<!-- <script src="scripts/lib/jquery.multi-select.js" type="text/javascript"></script> -->
