<div class="right_board" id='right_nav_bar'>
  <span><%= title %></span>
  <div style="float: right">
		<button type="button" class="btn btn-default">Load New Mission</button>
	</div>
</div>

<div class="right_board" id ='pattern_designer_container'>

	<form class="form-horizontal" role="form">
		<% _.each(cells, function(cell){ %>
		  <div class="form-group">
	    	<label  class="col-sm-2 control-label"><%= cell %></label>
		    <div class="col-sm-5">
		      <input  class="form-control" >
		    </div>
	  	</div>		
		<%	}); %> 	  	
  </form>
	
</div>