<div class="right_board" id='right_nav_bar'>  
	<div class='title'>
    <a href="#lineout" class="label label-primary" style="float: left" >
        Back
    </a>
		<%= title %>
  </div>
   
</div>

<div class="right_board" id ='pattern_designer_container'>
	<div class='left-panel col-sm-10'  style="margin-left: 5%">
		<div class='top-panel' >
		  <% _.each(inputs, function(input){ %>
	      <div class="input-group col-sm-7" style="margin-bottom: 5%; margin-left: 18%">
	          <span class="input-group-addon label-info colomn-label-info"><%= input.label %></span>
	          <input type="text" class="form-control mission_" rv-value='mission:<%= input.rv %>' >
	          <span class="input-group-addon"><%= input.unit %></span>
	      </div> 
		  <%	}); %>


		</div>

	</div>
  
</div>