<div class="right_board" id='right_nav_bar'>  
  <div class='title'>
    <a href="#palletSetting" class="label label-primary back-button" style="float: left" >
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <%= title %>
  </div>

</div>


<div class="right_board" id ='pattern_designer_container'>
  <div class="left-panel col-sm-6"  style="margin-left: 5%;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Pallet Dim</h3>
      </div>
        <!-- List group -->
        <ul class="list-group" id="patterns" style="height: 204px; overflow: scroll;">
<!--      <li class="list-group-item" id="layer-item-1">layer-1</li>
          <li class="list-group-item" id="layer-item-2">layer-2</li>
          <li class="list-group-item" id="layer-item-3">layer-3</li>
          <li class="list-group-item" id="layer-item-4">layer-4</li>
          <li class="list-group-item" id="layer-item-5">layer-5</li>
          <li class="list-group-item" id="layer-item-6">layer-6</li> -->
        </ul>
    </div>

  </div>
  
</div>