<div class="right_board" id='right_nav_bar'>  
  <div class='title'>
    <a href="#linein" class="label label-primary back-button" style="float: left" >
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <%= title %>
    </div>
   
</div>

<div class="right_board" id ='pattern_designer_container'>
	<div class='left-panel col-sm-10'  style="margin-left: 16%">
		<div class='top-panel' >
		    <div class="mission-bottom input-group col-sm-5" style="width:140px; margin-bottom:25px;">
		        <span class="input-group-addon label-info colomn-label-info">Length Wise:</span>
		        <input type="checkbox" name="length" class='mission_' rv-checked='mission:length_wise'>

		    </div> 	
           <div class="mission-bottom input-group col-sm-5" style="width:140px; margin-bottom:25px;">
                <span class="input-group-addon label-info colomn-label-info">Cross   Wise:</span>
                <input type="checkbox" name="cross"  class='mission_' rv-checked='mission:cross_wise'>

            </div>    
		</div>
        <div class="div_label" style="width:140px; margin-bottom:25px;">
            <span class="field_label" style="font-size:19px;">Distance</span>
            <input type="text" class="field_text mission_" style="top:-25px; left:130px;" rv-value="mission:mini_distance">
            <span style="position:relative; top:-25px; left: 130px;">mm</span>
        </div>
        <div class="div_label" style="width:140px; margin-bottom:25px;">
            <span class="field_label" style="font-size:19px;">Box per Pick</span>
            <input type="text" class="field_text mission_" style="top:-25px; left:130px;" rv-value="mission:box_per_pick">
        </div>        

	</div>
  
</div>