<div class="right_board" id='right_nav_bar'>  
  <div class='title'><%= title %></div>
</div>


<div class="right_board boxsetting" id ='pattern_designer_container'>
	<div class='left-panel col-sm-10' >
		<div class='top-panel' style="height: 180px">
			
		</div>
        <div class='bottom-panel' style="margin-top: 3%">
            <div class="mission-bottom input-group col-sm-6" style="float: left; ">
                <span class="input-group-addon label-info colomn-label-info">Length</span>
                <input type="text" class="form-control"  >
                <span class="input-group-addon">mm</span>
            </div>
            <div class="mission-bottom input-group col-sm-6" style="float: right; margin-right: -15%">
                <span class="input-group-addon label-info colomn-label-info">Width</span>
                <input type="text" class="form-control"  >
                <span class="input-group-addon">mm</span>
            </div>
            <div class="mission-bottom input-group col-sm-6" style="float: left;">
                <span class="input-group-addon label-info colomn-label-info">Height</span>
                <input type="text" class="form-control"  >
                <span class="input-group-addon">mm</span>
            </div>
            <div class="mission-bottom input-group col-sm-6" style="float: right; margin-right: -15%">
                <span class="input-group-addon label-info colomn-label-info">Weight</span>
                <input type="text" class="form-control"  >
                <span class="input-group-addon">kg</span>
            </div>         
        </div>
    </div>

</div>