<div class="right_board" id='right_nav_bar'> 

    <div class='title'>
        <a href="#linein" class="label label-primary back-button" style="float: left" >
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <%= title %>  
    <a href="#tools" class="button button-pill button-flat" >
      Load
    </a> 
    </div>
   
</div>

<div class="right_board" id ='pattern_designer_container'>
    <div class='left-panel col-sm-10'  style="margin-left: 5%">
        <div class='top-panel' >
            <div class="div_label" style="width:140px; margin-left: 5px; left:20px; margin-bottom: 20px">
                <span class="field_label" >Tool Name</span>
                <input type="text" class="field_text mission_" rv-value="mission:tool_name" style="width:140px; left:200px; top:-25px;">
            </div>

        </div>

        <div class='bottom-panel'>
            <div class="div_label" style="width:55px; margin-left: 5px; left:20px;">
				<span class="field_label" >X</span>
                <input type="text" class="field_text mission_" rv-value="mission:tcp_position_x" style="left:40px; top:-25px;">
                <span style="position:relative; top:-55px; left:145px;">mm</span>
            </div>
           <div class="div_label" style="width: 55px; margin-left: 5px; left:240px;top: -35px;">
				<span class="field_label">A</span>
                <input type="text" class="field_text mission_" rv-value="mission:tcp_position_a" style="left: 40px;top: -25px;">
                <span style="position: relative;top: -55px;left: 145px;">°</span>
            </div>
            <div class="div_label" style="width:55px; margin-left: 5px; left:20px;">
				<span class="field_label" >Y</span>
                <input type="text" class="field_text mission_" rv-value="mission:tcp_position_y" style="left: 40px;top: -25px;">
                <span style="position:relative; top:-55px; left:145px;">mm</span>
            </div>
            <div class="div_label" style="width:55px; margin-left: 5px;  left:240px;top: -35px;">
				<span class="field_label" >E</span>
                <input type="text" class="field_text mission_" rv-value="mission:tcp_position_e" style="left: 40px;top: -25px;">
                <span style="position: relative;top: -55px;left: 145px;">°</span>
            </div>  
            <div class="div_label" style="width:55px; margin-left: 5px; left:20px;">
				<span class="field_label" >Z</span>
                <input type="text" class="field_text mission_" rv-value="mission:tcp_position_z" style="left: 40px;top: -25px;">
                <span style="position:relative; top:-55px; left:145px;">mm</span>
            </div>
            <div class="div_label" style="width:55px; margin-left: 5px;  left:240px;top: -35px;">
				<span class="field_label" >R</span>
                <input type="text" class="field_text mission_" rv-value="mission:tcp_position_r" style="left: 40px;top: -25px;">
                <span style="position: relative;top: -55px;left: 145px;">°</span>
            </div>                   
        </div>

    </div>
  
</div>


