

<div class="right_board" id='right_nav_bar'>  
	<div class='title'><%= title %></div>
</div>

<div class="right_board" id ='pattern_designer_container'>
	<div class='left-panel col-sm-10'>
		<ul class="line nav nav-pills nav-stacked">
		  <!-- <li class="active"> -->
		  <% _.each(buttons, function(button){ %>
			  <li >
			  
			    <a href="<%= button.router %>" class="button button-pill button-flat">
			      <%= button.name %> 
			      <!-- <span style="float: right" >&rarr;</span> -->
			    </a>

			  </li>
		  <%	}); %>
		</ul>
	</div>
</div>