<div class="right_board" id='right_nav_bar'>  
  <div class='title'>
    <a href="#pickSetting" class="label label-primary back-button" style="float: left" >
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <%= title %>
    <a href="#calculateTool" class="button button-pill button-flat" >
      Calculate
    </a>

  </div>

</div>


<div class="right_board" id ='pattern_designer_container'>
  <div class='left-panel col-sm-6'  style="margin-left: 5%">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Mission List</h3>
      </div>
        <!-- List group -->
        <ul class="list-group" id='tool_list' style="height: 204px; overflow: scroll;">
<!--          <li class="list-group-item" id="mission-item-1">mission-1</li>
          <li class="list-group-item" id="mission-item-2">mission-2</li>
          <li class="list-group-item" id="mission-item-3">mission-3</li> -->
        </ul>
    </div>

  </div>
  
</div>