<div class="right_board" id='right_nav_bar'>  

	  <span><%= title %></span>

</div>

<div class="right_board" id ='pattern_designer_container'>
	<div class='left-panel col-sm-10'>
		<select multiple="multiple" id="my-select" name="my-select[]">
      <option value='elem_1'>elem 1</option>
      <option value='elem_2'>elem 2</option>
      <option value='elem_3'>elem 3</option>
      <option value='elem_4'>elem 4</option>
      <option value='elem_100'>elem 100</option>
    </select>
	</div>
</div>

<!-- <script src="scripts/lib/jquery.multi-select.js" type="text/javascript"></script> -->
