<div class="right_board" id='right_nav_bar'>  
  <div class='title'>
    <a href="#linein" class="label label-primary" style="float: left" >
      Back
    </a>
    <%= title %>
    </div>
   
</div>

<div class="right_board" id ='pattern_designer_container'>
	<div class='left-panel col-sm-10'  style="margin-left: 26%">
		<div class='top-panel' >
		    <div class="info-bottom input-group col-sm-10" >
		        <span class="input-group-addon label-info colomn-label-info">Length Wise:</span>
		        <input type="checkbox" name="teach" class='mission_' rv-checked='mission:length_wise'>

		    </div> 	
            <div class="info-bottom input-group col-sm-5" >
                <span class="input-group-addon label-info colomn-label-info">Cross   Wise:</span>
                <input type="checkbox" name="teach"  class='mission_' rv-checked='mission:cross_wise'>

            </div>    
		</div>
        <div class="info-bottom input-group col-sm-6" >
            <span class="input-group-addon label-info colomn-label-info">Distance</span>
            <input type="text" class="form-control mission_" rv-value="mission:distance">
            <span class="input-group-addon">mm</span>
        </div>
        <div class="info-bottom input-group col-sm-6" >
            <span class="input-group-addon label-info colomn-label-info">Box per Pick</span>
            <input type="text" class="form-control mission_" rv-value="mission:box_per_pick">
        </div>        

	</div>
  
</div>