<div class="right_board" id='right_nav_bar'>  
  <div class='title'>
    <a href="#linein" class="label label-primary back-button" style="float: left" >
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
	<!--
	<a id="postpick_back" data-ftrans="slide reverse" onmousedown="return false;" href="wizard_pick_main.html">
		<div id="back" class="ios-arrow-left" title="Pick">
		</div>
	</a>
	-->
    <%= title %>
  </div>
</div>


<div class="right_board boxsetting" id ='pattern_designer_container'>
	<div class='left-panel col-sm-10' >
		<div class='top-panel' style="height: 180px">
			
		</div>
        <div class='bottom-panel' style="margin-top: 3%">
            <div class="mission-bottom input-group col-sm-6" style="float: left; ">
				<div class="div_label" style="width:135px; margin-left: 5px;">
					<span class="field_label" >Length</span>
				</div>
                <input type="text" style="margin-left:0px;" class="field_text mission_" rv-value="mission:box_length" >
                <span style="position:relative; top:-35px; left:140px;">mm</span>
            </div>
            <div class="mission-bottom input-group col-sm-6" style="float: right; margin-right: -15%">
				<div class="div_label" style="width:135px; margin-left: 5px;">
					<span class="field_label" >Width</span>
				</div>
                <input type="text" style="margin-left:0px;" class="field_text mission_" rv-value="mission:box_width" >
                <span style="position:relative; top:-35px; left:140px;">mm</span>
            </div>
            <div class="mission-bottom input-group col-sm-6" style="float: left;">
				<div class="div_label" style="width:135px; margin-left: 5px;">
					<span class="field_label" >Height</span>
				</div>
                <input type="text" style="margin-left:0px;" class="field_text mission_" rv-value="mission:box_height" >
                <span style="position:relative; top:-35px; left:140px;">mm</span>
            </div>
            <div class="mission-bottom input-group col-sm-6" style="float: right; margin-right: -15%">
				<div class="div_label" style="width:135px; margin-left: 5px;">
					<span class="field_label" >Weight</span>
				</div>
                <input type="text" style="margin-left:0px;" class="field_text mission_" rv-value="mission:box_weight" >
                <span style="position:relative; top:-35px; left:140px;">kg</span>
            </div>         
        </div>
    </div>

</div>